[submodule "hev-socks5-tunnel"]
	path = hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel
	active = true
[submodule "paqet"]
	path = paqet
	url = https://github.com/hanselime/paqet
	active = true
	branch = master
